
.cproject
.cproject
.cwGeneratedFileSetLog
.project
.settings/com.freescale.core.ide.cdt.toolchain.prefs
*.prefs
*.local
FLASH/
FLASH/NXP_Cup_Alamak_Minimal.args
FLASH/NXP_Cup_Alamak_Minimal.elf
FLASH/NXP_Cup_Alamak_Minimal.map
FLASH/objects.mk
FLASH/Project_Settings/Startup_Code/__arm_end.args
FLASH/Project_Settings/Startup_Code/__arm_end.d
FLASH/Project_Settings/Startup_Code/__arm_end.o
FLASH/sources.mk
Project_Settings/
Project_Settings/Debugger/mass_erase_kinetis.tcl
Project_Settings/Debugger/MKL25Z128.mem
Project_Settings/Debugger/NXP_Cup_Alamak_Minimal_FLASH_OpenSDA.launch
Project_Settings/Linker_Files/
Project_Settings/Startup_Code/
ReferencedRSESystems.xml
