
*.local
*.local
*.args
FLASH/NXP_Cup_Alamak_Minimal.elf
FLASH/NXP_Cup_Alamak_Minimal.args
FLASH/makefile.local
FLASH/Sources/uart.o
FLASH/Sources/uart.d
FLASH/Sources/uart.args
FLASH/Sources/tmp.o
FLASH/Sources/tmp.d
FLASH/Sources/tmp.args
FLASH/Sources/sa_mtb.o
FLASH/Sources/sa_mtb.d
FLASH/Sources/sa_mtb.args
FLASH/Sources/mcg.o
FLASH/Sources/mcg.d
FLASH/Sources/mcg.args
FLASH/Sources/main.o
FLASH/Sources/main.d
FLASH/Sources/main.args
FLASH/Sources/gpio.o
FLASH/Sources/gpio.d
FLASH/Sources/gpio.args
FLASH/Sources/dma.o
FLASH/Sources/dma.d
FLASH/Sources/dma.args
FLASH/Sources/adc.o
FLASH/Sources/adc.d
FLASH/Sources/adc.args
FLASH/Project_Settings/Startup_Code/kinetis_sysinit.o
FLASH/Project_Settings/Startup_Code/kinetis_sysinit.d
FLASH/Project_Settings/Startup_Code/kinetis_sysinit.args
FLASH/Project_Settings/Startup_Code/__arm_start.o
FLASH/Project_Settings/Startup_Code/__arm_start.d
FLASH/Project_Settings/Startup_Code/__arm_start.args
FLASH/Project_Settings/Startup_Code/__arm_end.o
FLASH/Project_Settings/Startup_Code/__arm_end.d
FLASH/Project_Settings/Startup_Code/__arm_end.args
FLASH/NXP_Cup_Alamak_Minimal.map
FLASH/NXP_Cup_Alamak_Minimal.elf
FLASH/NXP_Cup_Alamak_Minimal.args
FLASH/Sources/main.o
FLASH/NXP_Cup_Alamak_Minimal.elf
FLASH/NXP_Cup_Alamak_Minimal.elf
